:root  { 
 --color_azul: rgb(58, 132, 218);
  --azul_oscuro: rgb(4, 16, 53);
 --gris_color: rgb(49, 62, 75);
}
.portfolio { 
 
margin: 0;
   
}

header {
  z-index: 5;
  display: flex;
  place-content: center;
  position: fixed;
  text-align: center;
  right: 0;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  margin: auto;
  padding: auto;
  background-color: rgb(5, 8, 17);
  
  
}

header section { 
  display: flex;
  flex-direction: row;
 margin:auto ;
 gap: 1.5rem;
 

width: auto ;
 
}


header a { display: flex;
  flex-direction: column;
  margin: auto;
  place-content: center;
  font-size: 1.2rem;
   scroll-behavior: smooth;
   height: 3rem;
   width: 3rem;
   color: var(--azul_oscuro);
  
    background: linear-gradient(aliceblue, rgb(120, 120, 120));
   border-radius: 50%;
  transition: .2s;
 
}


header a:hover {
 background: linear-gradient(aliceblue, aliceblue);
  background-color: aliceblue;
  border-radius: 10%;
  color: var(--azul_oscuro);
}

header button {
  border-radius: 10px;
  font-size: 1.5rem;
  border: none;
  margin: auto;
  height: 3rem;
  width: 5rem;
  background: linear-gradient(aliceblue, rgb(120, 120, 120));
 
}
header button:hover { 
  
      background: linear-gradient(aliceblue, aliceblue);
    color: var(--azul_oscuro);
}



.divisor { 
  height: 40px;
   margin-bottom: 20%;
}



.foto_mia{ 
    height: 60%;
    width: 60%;
    min-width: 40%;
    min-height: 40%;
    border-radius: 100%;
    margin: auto;
    padding: 0%;
  }
h2 { 
  margin: 0;
}

/* H2 color azul */ 
 .text_azul {
   font-size: 2.3rem;
   /* background: linear-gradient(rgb(3, 82, 167), rgb(56, 2, 60)); ;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
   */
  background: linear-gradient( 45deg, rgb(3, 96, 218), rgb(227, 4, 243) ,rgb(3, 96, 218),rgb(227, 4, 243));
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 300% 300%;
    color: transparent;
  animation: backcolor 4s ease-in-out infinite;
  }
  
  .nombre { 
     font-size: 3rem;
  }

 
    @keyframes backcolor {
      0% {
        background-position: 0% 50% ;
      }
  
      50% { 
        background-position: 100% 50%;
      }
  
      100% { background-position: 50% 50%;
         
      }
    }

  @media screen and (min-width: 480px)  {
    .foto_mia { 
      margin: auto;
      padding: auto;
        height: 40%;
        width: 40%;}

    .nombre { 
        font-size: 3rem;}
   
  }

  .text { 
    display: flex;
    flex-direction: column;
  }

  

  
  .con { 
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   margin-top: 10%;

   
  }
  
  
  .contacto { 
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    gap: 1rem;
   
  }

  .contacto a {
    font-size: 2rem;
   height: 50px;
   width: 50px;
  background: linear-gradient(rgb(3, 82, 167),rgb(56, 2, 60));
   text-shadow: 2px 5px 10px rgb(7, 9, 10), -1px -4px 10px rgb(2, 100, 205);
     color: aliceblue;
      border-radius: 100%;
      transition: .2s color 0s ;
  }

.contacto a:hover {
  text-shadow: 0px 0px 0px aliceblue;
    background: linear-gradient( aliceblue,aliceblue );
  color: var(--azul_oscuro);
  border-radius: 10%;
}


.contacto a i{
  margin: auto;
}





  a {
     display: flex;
    flex-wrap: wrap;
      flex-direction: row;
      margin: 2%;
     color: var(--color_azul) ;
    font-size: 3rem;
    border: none;
    
  }

  a:hover { 
    color: rgb(65, 156, 235);;
  }

  .idiomas { 
    display: flex;
    place-content: center;
    flex-wrap: wrap;
    gap: 2% ;
    margin-top: 1%;
  }

  .con_idioma { 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 5%;
    height: 80px;
    width: 80px;
    color: aliceblue;
    border: 2px solid aliceblue;
  
   
  }
  
 #conocimiento {
  margin-top: 2%;
 height: auto;
 width: auto;

  /*border-radius: 10px;
   border: 1px solid aliceblue; */
 }
 
 
  .experiencia {  display: flex;
    text-align: center;
    flex-direction: row;
    place-content: center;
    font-size: 1.5rem;
    margin-top: 5%;
    height: 4rem;
    max-width: 300px;
    margin: auto;
    
  }
.experiencia div { 
    display: flex;
    place-content: center;
    font-size: 1.25rem;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 100%;
  border: 2px solid aliceblue; 
   margin:auto;
   margin-right: 1%;
   transition: .2s;
}
.experiencia div:hover {
  background-color: aliceblue;
  color: rgb(5, 8, 17);
}


.experiencia div i{ 
  margin: auto;
}
 .experiencia p {
   margin: auto;
 margin-left: 1%;
 }



  .skills { 

    display: flex;
    flex-wrap: wrap;
    place-content: center;
    margin-top: 10%;
    margin: auto;
    margin-bottom: 5%;
    
  }

     
/*   
     .skills:after {
       margin: auto;
      content: "conocimiento"; 
         color: rgb(5, 8, 17);
          font-size: 10rem;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: rgb(255, 255, 255);;
       position: absolute;
       
       top: 0;
       left: 0;
       z-index: -1;
     } */
.skills div {
  display: flex;
  flex-direction: column;
  font-size:3.5rem;
  height:90px ;
  width: 90px;
 background: linear-gradient(rgb(3, 82, 167),rgb(56, 2, 60));
  color: aliceblue;
  margin: 1%;
  padding: 1%;

 
}

.skills div p { 
  font-size: 1rem;
  margin: auto;
  text-shadow: 2px 5px 10px rgb(28, 1, 23), -1px -4px 10px rgb(2, 100, 205);
}

.skills i { 

  text-shadow: 2px 5px 10px rgb(7, 9, 10),-1px -4px 10px rgb(2, 100, 205);
  margin: auto;
}

.habilidades {
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  margin: auto;
  padding-right: 10%;
  padding-left: 10%;
  font-size: 1.5rem;
}
.habilidades li {
  display: flex;
  place-content: center;
  flex-direction: column;
  list-style: none;
  text-align: center;
  height: 100px;
  width: 100px;
  margin: 2%;
color: aliceblue;
/*background: linear-gradient(rgb(49, 62, 75), rgb(14, 18, 22));*/
background: linear-gradient(rgb(3, 82, 167),rgb(5, 8, 17));
}
.habilidades li i {
  text-shadow: 5px 5px 10px black,-1px -5px 10px rgb(2, 100, 205);
  font-size: 2rem;
  margin-top: 20%;
}

.img_tec {
  filter:drop-shadow( 5px 5px 5px black)
  drop-shadow(-1px -5px 5px rgb(3, 117, 239));
  height: 2rem;
  width: auto;
  margin-top: 20%;
  margin: auto;
}

.habilidades li p {
  font-size: 1rem;
  text-align: center;
  margin-top: 10%;
}



.proyectos { 
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  margin: auto;
  margin-top: 10%;
}

.trabajo {
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  height: auto;
  width: auto;
  background-color: var(--azul_oscuro);
  margin: 5%;
 
}
.img_largo {
  height: min(200px,100%) ;
  width: 100%;
  margin: auto;
}

.img_corto { 
  border-radius: 10px;
  height: 300px;
  width: 200px;
  grid-row: 1/3;
  grid-column: 1;
  margin: 2%;
 
}
.link {
  display: flex;
  place-content: center;
}

.descripcion { 
  list-style: none;
  text-align: left;
  margin: auto;
}


.proyecto_nombre{
  color: rgb(204, 209, 209);
  font-size: 2rem; 
  margin: auto;
}

footer {
  z-index: 5;
  position: absolute;
  left: 0;
  bottom: 100;
 
  display: flex;
  place-content: center;
  height: auto;
  width: 100%;
  margin: auto;
 
  background-color: rgb(5, 8, 17);
}



 footer a {
   font-size: 2rem;
   height: 50px;
   width: 50px;
   background: linear-gradient(rgb(3, 82, 167), rgb(56, 2, 60));
   text-shadow: 2px 5px 10px rgb(7, 9, 10), -1px -4px 10px rgb(2, 100, 205);
   color: aliceblue;
   border-radius: 100%;
   transition: .2s color 0s;
 }

 footer a:hover {
   text-shadow: 0px 0px 0px aliceblue;
   background: linear-gradient(aliceblue, aliceblue);
   color: var(--azul_oscuro);
   border-radius: 10%;
 }


 footer a i {
   margin: auto;
 }