:root  { 
 --color_azul: rgb(44, 116, 179);
 
}





.foto_mia{ 
    height: 80%;
    width: 80%;
    border-radius: 100%;
    margin: auto;
    padding: 0%;

    box-shadow: 0vh 0vh 1px  rgb(14, 21, 46);
   
  }
  .bienvenido {
    font-size: 2rem;
  }
  .nombre { 
     font-size: 2rem;
  }

  hr { 
    border: 1px solid rgb(5, 8, 16);
    
    height: auto;
    width: auto;
  }

  @media screen and (min-width: 480px)  {
    .foto_mia { 
      margin: auto;
      padding: auto;
        height: 50%;
    width: 50%;
    box-shadow: 20vh 0px 1px  rgb(14, 21, 46);
    }


    .nombre { 
        
        font-size: 3rem;
     }
   
  }

  .text { 
    display: flex;
    flex-direction: column;
 
  }

  .front { 
    color: var(--color_azul) ;
    font-weight: 600;
    font-size: 2.5em;
  }

  
  .con { 
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   margin-top: 10%;
  }
  .say_me { 
    color: var(--color_azul);
  }

  .apodo { 
    font-size: 2rem;
    color: rgb(204, 209, 209);
  }

  .contacto { 
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    gap: 2rem;

  }

  a { 
display: inline-block;
margin-top: 5%;
margin-inline: 5%;

color: var(--color_azul) ;
    font-size: 3rem;
    border: none;
    
  }

  a:hover { 
    color: rgb(65, 156, 235);;
  }

  .idiomas { 
    color: var(--color_azul) ;
    
    display: flex;
    place-content: center;
    gap: 10% ;
    margin-top: 5%;
  }

  .con_idioma { 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    background-color: rgb(14, 21, 46);
    height: 100px;
    width: 100px;
    color: var(--color_azul);
  }
  
 

 
  .experiencia { 
    margin-top: 5%;
    
  }

  .años {
    
    color: var(--color_azul);
  }

  .skills { 
    display: flex;
    flex-wrap: wrap;
    place-content: center;
   
    margin-top: 10%;
   margin-inline: 10%;
    gap: 5%;
  }
.skills i { 
 font-size: 4rem;
 margin: 2%;
}
  .skills :nth-child(1) { 
 color: rgb(240, 219, 79);
  }
  .skills :nth-child(2) { 
    color: rgb(240, 101, 41);
     }
  .skills :nth-child(3) { 
    color: rgb(102, 211, 250);
   }
   .skills :nth-child(4) { 
    color: rgb(97, 219, 251);
     }
     .skills :nth-child(5) { 
      color: rgb(60, 135, 58);
       }
       .skills :nth-child(6) { 
        color: rgb(75, 139, 190);
         }
.otras_tecnologias { 
  display: flex;
  flex-wrap: wrap;
flex-direction: row;
place-content: center;
margin-top: 5%;

font-weight: 600;
font-size: 1.5rem;
color: var(--color_azul) ;
}
.otras_tecnologias p { 
  margin: 2%;
}

.proyectos { 
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  margin-top: 5%;
}
.trabajo {
  list-style: none;
  display: grid;
 grid-template-columns: 1fr;
 grid-template-rows: 1fr 1fr 1fr ;
  height: 500px;
  width: 300px;
  background-color: rgb(11, 17, 36) ;
}

.trabajo img { 
  
  border-radius: 10px;
  height: 400px;
  width: auto;
  grid-row: 2;
  grid-column: 1;
  margin: auto;
 
}

.trabajo a { 
  grid-row: 3;
  grid-column: 1;
}




.proyecto_nombre{
  color: rgb(204, 209, 209);
  font-size: 2rem; 
grid-row: 3;
grid-column: 1;
margin: auto;
border-radius: 10px;
background: linear-gradient( rgb(27, 41, 87),  rgb(11, 17, 36)) ;
}