:root  { 
 --color_azul: rgb(58, 132, 218);
  --azul_oscuro: rgb(4, 16, 53);
 --gris_color: rgb(49, 62, 75);
}
.portfolio { 
 
margin: 0;
   
}

header {
  display: flex;
  position: fixed;
  place-items: center;
  text-align: center;
  right: 0;
  top: 0;
  left: 0;
  height: 80px;
 
  width: 100%;
  margin: auto;
 
  padding: auto;
  background-color: var(--azul_oscuro);
  background: linear-gradient(rgb(1, 6, 19),rgb(4, 16, 53));
   
 
}

header a { display: flex;
  flex-direction: column;
  margin: auto;
  place-content: center;
  font-size: 1.2rem;
   scroll-behavior: smooth;
   height: 3rem;
   width: 3rem;
   border: 2px solid var(--color_azul);
}


header a:hover {
  border: 2px solid var(--azul_oscuro);
  background-color: aliceblue;
  color: var(--azul_oscuro);
}


header button {
  font-size: 1.5rem;
  border: none;
  margin: auto;
  height: 3rem;
  width: 5rem;
  background-color: var(--color_azul);
}
header button:hover { 
  border: 2px solid var(--azul_oscuro);
    background-color: aliceblue;
    color: var(--azul_oscuro);
}



.divisor { 
  height: 40px;
   margin-bottom: 20%;
}



.foto_mia{ 
    height: 80%;
    width: 80%;
    border-radius: 100%;
    margin: auto;
    padding: 0%;
  }


/* H2 color azul */ 
 .text_azul {
   font-size: 2.5rem;
   /* background-image:linear-gradient(var(--color_azul), rgb(11, 37, 118)) ;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
   */
   color: var(--color_azul);
   
  }
  
  .nombre { 
     font-size: 3rem;
  }

 

  @media screen and (min-width: 480px)  {
    .foto_mia { 
      margin: auto;
      padding: auto;
        height: 50%;
    width: 50%;
  
    }


    .nombre { 
        font-size: 3rem;
     }
   
  }

  .text { 
    display: flex;
    flex-direction: column;
  }

  

  
  .con { 
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   margin-top: 10%;

   
  }
  
  
  .contacto { 
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    gap: 2rem;
   
  }

  .contacto a {
    font-size: 2rem;
   height: 50px;
   width: 50px;
    background: linear-gradient(rgb(3, 82, 167), rgb(7, 9, 10));
   text-shadow: 2px 5px 10px rgb(7, 9, 10), -1px -4px 10px rgb(2, 100, 205);
     color: aliceblue;
      border-radius: 100%;
  }

.contacto a:hover {
  text-shadow: 0px 0px 0px aliceblue;
    background: linear-gradient( aliceblue,aliceblue );
  color: var(--azul_oscuro);
  border-radius: 10%;
}


.contacto a i{
  margin: auto;
}





  a {
     display: flex;
    flex-wrap: wrap;
      flex-direction: row;
      margin: 2%;
     color: var(--color_azul) ;
    font-size: 3rem;
    border: none;
    
  }

  a:hover { 
    color: rgb(65, 156, 235);;
  }

  .idiomas { 
    display: flex;
    place-content: center;
    flex-wrap: wrap;
    gap: 10% ;
    margin-top: 5%;
  }

  .con_idioma { 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 5%;
    height: 80px;
    width: 80px;
    color: aliceblue;
    border: 2px solid aliceblue;

   
  }
  
 

 
  .experiencia { 
    font-size: 2rem;
    margin-top: 5%;
    
  }

  .años {
    
    color: var(--color_azul);
  }

  .skills { 
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    margin-top: 10%;
    margin: auto;
    
  }

.skills div {
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 150px;
 background: linear-gradient(rgb(3, 82, 167),rgb(7, 9, 10));
  color: aliceblue;
  font-size: 4rem;
  margin: 1%;
  padding: 1%;
}

.skills i { 
  text-shadow: 2px 5px 10px rgb(7, 9, 10),-1px -4px 10px rgb(2, 100, 205);
  margin: auto;
}

.habilidades {
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  margin: auto;
  padding-right: 10%;
  padding-left: 10%;
  font-size: 1.5rem;
}
.habilidades li {
  display: flex;
  place-content: center;
  flex-direction: column;
  list-style: none;
  text-align: center;
  height: 100px;
  width: 100px;
  margin: 2%;
color: aliceblue;
background: linear-gradient(rgb(49, 62, 75), rgb(14, 18, 22));
 
}
.habilidades li i {
  text-shadow: 5px 5px 10px black,-1px -5px 10px rgb(90, 91, 92);
  font-size: 2rem;
  margin-top: 20%;
}
.habilidades li p {
  font-size: 1rem;
  text-align: center;
  margin-top: 10%;
}



.proyectos { 
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  margin: auto;
  margin-top: 10%;
}

.trabajo {
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  height: auto;
  width: auto;
  background-color: var(--azul_oscuro);
  margin: 5%;
 
}
.img_largo {
  height: 200px;
  width: 100%;
  margin: auto;
}

.img_corto { 
  border-radius: 10px;
  height: 300px;
  width: 200px;
  grid-row: 1/3;
  grid-column: 1;
  margin: 2%;
 
}
.link {
  display: flex;
  place-content: center;
}

.descripcion { 
  list-style: none;
  text-align: left;
  margin: auto;
}


.proyecto_nombre{
  color: rgb(204, 209, 209);
  font-size: 2rem; 
  margin: auto;
}